<h1>Edit Cat!</h1>

<%= render 'form', cat: @cat, action: :edit %>

<!-- <form action="<%= cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="<%=@cat.name  %>">
  
  <br>
  
  <label for="birthday">Birthday</label>
  <input id="birthday" type="date" name="cat[birth_date]" value="<%=@cat.birth_date  %>">
  
  <br>
  
  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>--Please Select Color--</option>
    <option value = "blue" <%=@cat.color == "blue" ? "selected" : ""%> >Blue</option>
    <option value = "red" <%=@cat.color == "red" ? "selected" : ""%> >Red</option>
    <option value = "green" <%=@cat.color == "green" ? "selected" : ""%> >Green</option>
    <option value = "brown" <%=@cat.color == "brown" ? "selected" : ""%> >Brown</option>
    <option value = "black" <%=@cat.color == "black" ? "selected" : ""%>>Black</option>
    <option value = "white" <%=@cat.color == "white" ? "selected" : ""%> >White</option>
  </select>
  
  <br><br>
  
  <label for="sex">Sex</label>
  <input type="radio" name="cat[sex]" value="M"  <%=@cat.sex == "M" ? "checked" : ""%>>Male
  <input type="radio" name="cat[sex]" value="F" <%=@cat.sex == "F" ? "checked" : ""%> >Female<br>
  
  <label for="description">Description</label>
  <textarea name="cat[description]" >
  <%=@cat.description  %>
</textarea>
  
  <br>
  
  <input type="submit" value="Edit Cat">
  
</form> -->